body{

  background-color: rgb(190, 171, 207);
  color: rgb(108, 68, 141);
  font-family: "UnifrakturMaguntia", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 0;

}
button{
  background-color: rgb(148, 123, 172);
  color: rgb(56, 26, 83);
  font-family: "UnifrakturMaguntia", cursive;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main{
  text-align: center;
  max-width: 90%;
}

img{
  max-width: 90%;
}